/*En las listas ordenadas los elementos quiero que vayan en color cian, tipo de letra Arial, color de fondo amarillo, tamaño de letra 25, la lista ordenada entera que aparezca los 4 bordes en color negro*/
li{
    color: cyan;
    font-family: monospace;
    background-color: yellow;
    font-size: 25px;
}

ol{
    border: 1px solid black;
}

dl{
    font-family:courier;
}

dt{
    background-color: aquamarine;
    color: red;
    border: 1px dashed black;
}

dd{
    font-style: italic;
}

#IdentElem1{
    font-size:40px;
}